.page {
    margin-top: 5%;
}
.agency-list {
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff; /* Set background to white */
    width: 50%;
    
}

.agency-item {
    margin-bottom: 1rem;
    padding: 15px;
    background-color: #333;
    border-radius: 8px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    transition: all 0.3s ease-in-out;
}

.agency-item:hover {
    box-shadow: none;
}

.agency-link {
    color: #fff;
    text-decoration: none;
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Ensures that text doesn't center globally */
}

.agency-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px; /* Thicker line */
    background-color: #ffffff; /* Tomato red for the underline */
    left: 0;
    bottom: -5px;
    transition: transform 0.5s ease-out; /* Smoother transition */
    transform: scaleX(0);
    transform-origin: right; /* Starts from the right */
}

.agency-link:hover::after {
    transform: scaleX(1);
}
