@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.AppBar {
    font-family: 'Montserrat', sans-serif;
}

.button {
    background: none;
    border: none;
    color: inherit;
    font-size: 16px;
    text-transform: uppercase;
}

.title {
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.css-4c8arj-MuiTypography-root {
    margin-left: -3% !important;
}